<ul class="more_list">
  <li>
    <%= link_to '詳細', "/reviews/#{review.id}", method: :get %>
    <% if user_signed_in? && current_user.id == review.user_id %>
    <li>
      <%= link_to '編集', "/reviews/#{review.id}/edit", method: :get %>

      </li>
      <li>
        <%= link_to '削除', "/reviews/#{review.id}", method: :delete %>
        </li>
        <% end %>
      </ul>
    </div>
    <%= simple_format(review.text) %>
    <span class="name">
      <a href="/users/<%= review.user_id %>">
        <span>投稿者：</span><%= review.user.name %>
      </a>
    </span>
  </div>
