
</br></br></br></br></br>
 <h2 style="text-align: center;">何名様ですか？</h2>

<%= form_tag "/reserve/map", :method => 'get' do %>

<div type=checkbox class="button" id="4">
<%= check_box_tag :number, params[:number] %>
<%= label_tag :number, "~4人" %>
</div>

<div type=checkbox class="button" id="6">
<%= check_box_tag :number %>
<%= label_tag :number, "5~6人" %>
</div>

<div type=checkbox class="button" id="8">
<%= check_box_tag :number %>
<%= label_tag :number, "7~8人" %>
</div>

<div type=checkbox class="button" id="10">
<%= check_box_tag :number %>
<%= label_tag :number, "9~10人" %>
</div>

<%= submit_tag "この人数で検索する", :name => nil %>
<% end %>
<br/><br/><br/>








<script>
    function showResult( result ) {
      for ( var i in result.rest ) {
        $("#table").append("<tr><td>" + result.rest[ i ].name + "</td><td>" + result.rest[ i ].opentime )
      }
    }

    $( function () {
      var url = "https://api.gnavi.co.jp/RestSearchAPI/20150630/?callback=?"
      var params = {
        format: "json",
        latitude: "",
        longitude: "",
        range: 3
      }

      $(".button").on("click", function(){
        var np = this.id
      });


      $("#submit").on("click", function () {
        params.keyid = $("#key").val()
        $.getJSON( url, params, function( result ) {
          showResult( result )
        })
      })
    })
  </script>




