
<h2 style="text-align: center;">お店を選択してください</h2>

<%= form_tag new_user_registration_path, :method => 'get' do %>
<input hidden name="number" value="#{@number}">
<input hidden name="location_lat" value="#{@latitude}">
<input hidden name="location_lon" value="#{@longitude}">
<% end %>


<script type="text/javascript">
function initMap() {
  var location ={lat: 35.678647, lng: 139.767384};
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 15,
    center: location
  });
  var transitLayer = new google.maps.TransitLayer();
  transitLayer.setMap(map);

  var contentString = '住所：東京都千代田区丸の内１丁目９−２';
  var infowindow = new google.maps.InfoWindow({
    content: contentString
  });

        var marker = new google.maps.Marker({
            position:location,
            map: map,
            title: contentString
        });

        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBiKAJR9OHYaiIgqc2Fb1MdU-yGaWKlsio&callback=initMap">
</script>



<p id="notice"><%= notice %></p>

<p>
  <strong>現在地:</strong>
  東京都千代田区丸の内１丁目９−２
</p>

<p>
  <strong>Latitude:</strong>
  35.678647
</p>

<p>
  <strong>Longitude:</strong>
  139.767384
</p>

<style type="text/css">
  #map { height: 400px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    width: 80%;}
</style>
<div id="map"></div>


<p>
  <strong>店情報:</strong>
  <div class="rest_list">
    <% @rest.each do |rest| %>
    <div class="card">
      <%= rest["id"] %>
      <div class="card-block">
        <h2 class="card-title"><%= rest["name"] %>（ジャンル: <%= rest["category"] %>）</h2>
        <%= image_tag(rest["image_url"]["shop_image1"].presence || '/files/images/noimage.png', { class: 'card-img-top center-block' }) %>
        <%= image_tag(rest["image_url"]["shop_image2"].presence || '/files/images/noimage.png', { class: 'card-img-top center-block' }) %>
        <p class="card-text"><%= rest["pr"]["pr_short"].presence %></p>
      </div>
      <%= form_tag new_user_registration_path, :method => 'get' do %>
      <input type="button" name="izakaya[]" id="button_05" class="yoyaku" value="<%= rest["name"] %>"/>
      <label for="button_05" class="check_label">この店に予約する</label>
      <%= submit_tag "仮予約を完了する", { id: 'submit_btn', class: 'btn btn-primary' } %>
      <% end %>
    </div>
    <% end %>
  </div>
</p>

<%= link_to '人数指定に戻る', reserve_search_path %>








