
<h2 style="text-align: center;">お店を選択してください</h2>

<%= form_tag new_user_registration_path, :method => 'get' do %>
<input hidden name="number" value="#{@number}">
<input hidden name="location_lat" value="#{@latitude}">
<input hidden name="location_lon" value="#{@longitude}">
<% end %>
<script src="https://82mou.github.io/infobox/lib/infobox.js"></script>

<script type="text/javascript">
  var marker = [];
  var data = [];
  function initMap() {
  var location ={lat: 35.678647, lng: 139.767384};
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 18,
    center: location
  });
  var  transitLayer = new google.maps.TransitLayer();
  transitLayer.setMap(map);
  var contentString = '住所：東京都千代田区丸の内１丁目９−２';
  var infowindow = new google.maps.InfoWindow({
    content: contentString
  });

  $.getJSON("https://api.gnavi.co.jp/RestSearchAPI/v3/?keyid=acfab00be0c5713c509b44baa0f1a81b&latitude=35.678647&longitude=139.767384&range=1&web_reserve=1&bottomless_cup=1", function(json){
    for (var i = 0; i <= json.rest.length-1; i++) {
      data.push(
        {
          'id': json.rest[i].id,
          'name': json.rest[i].name,
          'category': json.rest[i].category,
          'lat': json.rest[i].latitude,
          'lng': json.rest[i].longitude,
          'pr': json.rest[i].pr.pr_short,
          'img1': json.rest[i].image_url.shop_image1,
          'img2': json.rest[i].image_url.shop_image2,
          'tel': json.rest[i].tel
        });
    };
    for (var i = 0; i < data.length; i++) {
      markerLatLng = {lat: data[i]['lat'], lng: data[i]['lng']};
      marker[i] = new google.maps.Marker({
        position: new google.maps.LatLng(data[i]['lat'], data[i]['lng']),
        map: map
      });
      markerInfo(marker[i], '<a href="#' + data[i]['id'] + '">' + '<span style="color:#d50000">' + data[i]['name'] + '</span></a>'+ '<br/>' + '（category：' + data[i]['category'] + ')' + '<br/>' + '<p style="display:inline;"><img src="' +data[i]['img1'] + '"></p>' + '<br/>' + data[i]['pr'] + '<br/>' + '<a href="tel:' +data[i]['tel'] + '">' + data[i]['tel'] + '</a>' + '<a href="#' + data[i]['id'] + '">' + '<span style="color:#d50000">この店に予約する</span></a>');
    }
  });
}

function markerInfo(marker, name) {
  var win = {
    content: name,
    maxWidth: 250,
  }
  var infowin = new google.maps.InfoWindow(win);

  google.maps.event.addListener(marker, 'click', function (event) {
    infowin.open(marker.getMap(), marker)
  });
}



//地図描画を実行
google.maps.event.addDomListener(window, 'load', map_canvas);
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBiKAJR9OHYaiIgqc2Fb1MdU-yGaWKlsio&callback=initMap">
</script>



<p id="notice"><%= notice %></p>

<p>
  <strong>現在地:</strong>
  東京都千代田区丸の内１丁目９−２（35.678647,139.767384）
</p>
<style type="text/css">
#maps {
position: relative;
padding-bottom: 100%; /*これが縦横比*/
height: 0;
overflow: hidden;
}
#maps iframe {
position: absolute;
top: 0;
left: 0;
width: 100% !important;
height: 100% !important;
}
#map {
  height: 600px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
  width: 100%;}
#map-info-window {
  position: relative;
  width: 250px;
  padding: 25px 30px;
  border: 2px solid #EC492C;
  background-color: #fff;
}
#map-info-window:before {
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: -10px;
  width: 20px;
  height: 10px;
  transform: translate(-50%, 0);
  background: url(https://82mou.github.io/infobox/img/gmap-info-window-frame-point.png) no-repeat 0 0;
  content: '';
}
#map-info-window-title {
  color: #EC492C;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
#map-info-window-address {
  margin-top: 10px;
  font-size: 12px;
  font-weight: bold;
}
</style>
<div id="map"></div>


<p>
  <strong>店情報:</strong>
  <div class="rest_list">
    <% @rest.each do |rest| %>
    <div class="card">
      <div class="card-block">
        <h2 class="card-title" id="<%= rest["id"] %>"><%= rest["name"] %><br/>（category: <%= rest["category"] %>）</h2>
        <div class="card-image">
          <%= image_tag(rest["image_url"]["shop_image1"].presence || '/files/images/noimage.png', { class: 'card-img-top center-block' }) %>
            <%= image_tag(rest["image_url"]["shop_image2"].presence || '/files/images/noimage.png', { class: 'card-img-top center-block' }) %>
          </div>
        <p class="card-text"><%= rest["pr"]["pr_short"].presence %></p>
      </div>

      <%= form_tag new_user_registration_path, :method => 'get' do %>
      <input hidden name="izakaya[]" id="button_05" class="yoyaku" />
      <%= button_tag "この店に予約する", { id: 'button_yoyaku', class: 'card-yoyaku' } %>
      <% end %>
      <a href="#TOP">地図へ戻る</a>
    </div>
    <% end %>
  </div>
</p>

<%= link_to '人数指定に戻る', reserve_search_path %>







