
 <h2 style="text-align: center;">何名様ですか？</h2>

<%= javascript_include_tag "check_box_only_one.js" %>
<%= javascript_include_tag "get_location.js" %>
<%= form_tag reserve_map_path, :method => 'get' do %>
<div class="list">
<ul>
  <li>
    <input name="number[]" id="button_01" type="checkbox" value="four_seats" class="checkbox" />
    <label for="button_01" class="check_label">~4人</label>
  </li>
  <li>
    <input name="number[]" id="button_02" type="checkbox" value="six_seats" class="checkbox" />
    <label for="button_02" class="check_label">5~6人</label>
  </li>
  <li>
    <input name="number[]" id="button_03" type="checkbox" value="eight_seats" class="checkbox" />
  <label for="button_03" class="check_label">7~8人</label>
  </li>
  <li>
    <input name="number[]" id="button_04" type="checkbox" value="ten_seats" class="checkbox" />
  <label for="button_04" class="check_label">9~10人</label>
  </li>
</ul>
</div>
<input type="button" name="location[]" id="button_05" class="location" value="現在地を取得する"/>
<label for="button_05" class="check_label">現在地を取得する</label>

<%= submit_tag "徒歩3分の居酒屋を検索する" %>
<% end %>

<div style="text-align: center; margin: 30px;">
<%= form_tag(reserve_map_path, method: :post) do %>
  <%= hidden_field(:query, :latitude, {value: nil}) %>
  <%= hidden_field(:query, :longitude, {value: nil}) %>
  <%= submit_tag '検索する', { id: 'submit_btn', class: 'btn btn-primary' } %>
<% end %>
</div>

<script type="text/javascript">
  var ready
  ready = function() {
    // Geolocation APIに対応している
    if( navigator.geolocation )
    {
      navigator.geolocation.getCurrentPosition(function(position) {
        var data = position.coords
        var lat  = data.latitude
        var long = data.longitude
        $("#query_latitude").val(lat)
        $("#query_longitude").val(long)
      })
    }
    // Geolocation APIに対応していない
    else
    {
      // 現在位置を取得できない場合
      $("#submit_btn").prop("disabled", true)
    }
  }
  $(document).ready(ready);
  $(document).on('page:load', ready);
</script>
