<!DOCTYPE html>
<html lang="ja">
<head>
  <title>ぐるそく - 徒歩3分以内の飲食店を即検索&予約！ -</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: 'common/header' %>
  <%= yield %>
  <footer style="text-align: center;">
    <a href="tenpotop.html">店舗様向けご案内ページ</a>
    <p>
      Copyright ぐるそく！ 2018.
    </p>
  </footer>
</body>
</html>

